<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.sportcheck.communityboard" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Community Board</name>
    <description>
        FGL Community Board
    </description>
    <author email="brent.garner@fglsports.com" href="http://sportchek.ca">
        Brent Garner
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="orientation" value="landscape" />
</widget>